html, body {
  height: 100%;
  width: 100%;
}
a:hover {
  font-weight: bold;
}
.title {
  font-size: large;
  font-weight: bold;
  margin-left: 20px;
}
.subtitle {
  font-size: 14px;
  font-weight: lighter;
  color: graytext;
  margin-left: 20px;
}

.menu {
  display: block;
  float: left;
  margin-top: 20px;
}
.menu > ul {
  list-style: none;
  margin-left: -20px;
}
.content {
  max-width: 500px;
  min-width: 200px;
  margin-top: 20px;
  margin-left: 15px;
  float: left; 
}
#home > li {
  display: inline;
}
